main {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100vw;
    height:100vh;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    height: 50%;
    width:50%;  
    
}
td{
    width:20px;
    height: 20px;
    border: 1px solid #999;
    text-align:center;
}